#content {border-bottom: 0px solid #999; padding-bottom: .5em; }
#content .accordion { font-family: Verdana; font-size: 13px; }
#content .ui-accordion .ui-accordion-header { padding: 0; outline: none; }
#content .ui-accordion .ui-accordion-header-icon { display: none; }
#content .accordion .ui-state-default,
#content .accordion .ui-state-active { border: none; background: none; padding: 0; }
#content .accordion .ui-widget-content { padding: 1em 0 0 .5em; border: none; }

h3 {
    color: #c62;
}
h4 {
    color: #00c;
}
th, td {
    text-align: left;
    font-weight: normal;
    padding: 10px;
}
a {
    color: #c62;
    text-decoration: none;
    font-weight: bold;
}
body {
	font-family: Verdana, Sans-Serif;
	font-size: 13px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
